---
name: Test Terraform
concurrency: test_terraform

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  id-token: write
  contents: read

env:
  TF_INPUT: 'false'
  TF_IN_AUTOMATION: 'true'
  RESOURCE_GROUP_NAME: ${{ secrets.RESOURCE_GROUP_NAME }}
  AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
  AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
  AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

jobs:
  main:
    name: Test Terraform
    runs-on: ubuntu-latest
    environment: azure
    steps:
      - name: Checkout self
        uses: actions/checkout@v3
      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ env.AZURE_CLIENT_ID }}
          tenant-id: ${{ env.AZURE_TENANT_ID }}
          subscription-id: ${{ env.AZURE_SUBSCRIPTION_ID }}
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
            terraform_version: "~1.10.0"
            terraform_wrapper: false
      - name: Check Format
        shell: bash
        run: |
          terraform fmt -recursive -check
      - name: Init
        shell: bash
        run: |
          terraform init
      - name: Validate
        shell: bash
        run: |
          terraform validate
